
p{
   color: #DCDCDC;
   font-size: 2em;
}

h1,h2,h3,p{
color: #DCDCDC;
text-align: center;

}
figure{
    text-align: center;
}
.container{
    width:70%;
    margin: auto;
}

.img_topo{
    width: 100%;
}

.img_corpo{
    width: 60%;
}

.menu{
  background-color: rgba(39, 39, 43, 0.6);
   padding: 2%;

}


.itens_menu{
  padding-top: 1%;
  line-height: 1.5;
  text-align: center;
  font-size: 1.3em;

}


footer{
    background-color: rgba(39, 39, 43, 0.6);
    padding: 2%;
  }
