body{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fbr.pinterest.com%2Fpin%2F574912708666617349%2F&psig=AOvVaw1I3nz2LH5Q1YaogS2fZyXD&ust=1651860250394000&source=images&cd=vfe&ved=0CAkQjRxqFwoTCIDe5o75yPcCFQAAAAAdAAAAABAe);
    background-size: 100%;

}

p{
   color: #DCDCDC;
   font-size: 2em;
}

h1,h2,h3,p{
color: #DCDCDC;
text-align: center;

}
figure{
    text-align: center;
}
.container{
    width:70%;
    margin: auto;
}

.img_topo{
    width: 100%;
}

.img_corpo{
    width: 60%;
}