@font-face {
  font-family: PatuaOne-Regular;
  src: url('../fontes/PatuaOne-Regular.ttf');
}


html{
    scroll-behavior: smooth;
}

p{
    color: rgb(218, 218, 218);
    line-height: 1.3;
    text-align: justify;
    text-indent: 40px;
    font-family: 'PatuaOne-Regular', Helvetica, sans-serif,cursive;
    font-size:2em;
}

h1{
    color: rgb(243, 181, 12);
    text-align: center;
    font-family: 'Signika+Negative", Helvetica, sans-serif',cursive;
    font-size: 3em;
}

figure{
    text-align: center;
}
.container{
    width:70%;
    margin: auto;
}

.img_topo{
    width: 100%;
    margin-bottom: 2%;
}

.img_corpo{
    width: 60%;
}

.menu{
  background-color: rgba(39, 39, 43, 0.9);
   padding: 1%;

}
.itens_menu{
  padding-top: 1%;
  line-height: 1.5;
  text-align: center;
  font-size: 1.3em;
}
.itens_menu a:visited, .itens_menu a:link{
    color: #FFDEAD;
    text-decoration: none;
    font-weight: bolder;
  
  }
  
  .itens_menu a:hover{
    background-color: rgba(9, 7, 6, 0.4);
    padding: 0.6%;
  }
  
  .itens_menu a:active{
    color: black;
  }

h2{
    color: rgb(243, 181, 12);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    font-family: 'Signika+Negative", Helvetica, sans-serif',cursive;
}

footer{
    background-color: rgba(39, 39, 43, 0.6);
    padding: 2%;
  }
  .botao{
     margin: 1%;
     width: 100px;
     height: 30px;
     padding: 2%;
     background-color: rgba(9, 7, 6, 0.3);
     margin: auto;
   }
   
   .botao:hover{
     background-color:#FFDEAD;
   }
   
   .botao a:link, .botao a:visited{
     color:#8B4513;
     text-decoration: none;
     font-weight: bolder;
   }
   
   .botao p{
     text-align: center;
   }
   section{
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .direita{
    float: right;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 40%;
  }
  
  .esquerda{
    float: left;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 30%;
  }

  table {
    
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    color: rgb(255, 255, 255);
    line-height: 1.3;
    text-align: justify;
    text-indent: 40px;
    border: 1px solid #ff9100;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #252525;
  }
  audio{
  width: 85%;
}

table {
    
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  color: rgb(255, 255, 255);
  line-height: 1.3;
  text-align: justify;
  text-indent: 40px;
  border: 1px solid #ff9100;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #1d6cffb0;
}
.row '{
margin-bottom: 2%;}